*.class
*.jar
*.war
*.ear
/bin
/lib
*.db
.svn
.svn
.bzr
/.bzr
*/.bzr
.bzrignore
*/.bzrignore
.project
/nbproject/private/
/dist/
/build/
/testDBs
/.settings
/doc
*.dll
*.exe
*.so
COMMIT_EDITMSG
.DS_Store
/target
/build/output
/data/worlds
src/git.properties
/stacktraces
